 @media(max-width:80rem) and (min-height:32rem) {
   .back-images-container {
     height: 70vh;
     max-height: 27.5rem;
   }

   .back-images-container::before {
     height: 70vh;
     max-height: 27.5rem;
   }

   .front-images-container {
     height: calc(27.2vw/0.6666);
     width: 27.2vw;
     min-width: 13rem;
     min-height: 19.5rem;
     max-width: 17rem;
     max-height: 25.5rem;
   }

   .slide-movie-info {
     height: 80%;
     width: 45%;
   }

   .slide-movie-title {
     /* height: 25%; */
     flex: 1;
     align-items: center;
     font-size: 1.5rem;
   }

   .slide-movie-overview {
     /* height: 70%; */
     flex: 2;
     font-size: 0.9rem;
   }

   .trending-movies a:nth-last-of-type(5),
   .trending-series a:nth-last-of-type(5) {
     display: none;
   }

   .trending-movies_img,
   .trending-series_img {
     height: calc(23vw/0.6666);
     width: 23vw;
   }
 }

 @media(max-width:38rem) and (min-height:32rem) {
   /* .back-images-container {
    height: 65vh;
  }

  .back-images-container::before {
    height: 70%;
  } */

   .front-images-container {
     height: calc(30.6vw/0.6666);
     width: 30.6vw;
     min-width: 11rem;
     min-height: 16.5rem;
   }

   .img-btn {
     height: 1.8rem;
     width: 4rem;
     top: 108%;
   }

   #img-left {
     right: 55%;
   }

   #img-right {
     left: 55%;
   }

   .slide-movie-info {
     height: 80%;
     width: 55%;
   }

   .slide-movie-title {
     /* height: 20%; */
     flex: 1;
     align-items: center;
     font-size: 1.5rem;
   }

   .slide-movie-overview {
     /* height: 75%; */
     flex: 2;
     font-size: 0.8rem;
   }
 }

 @media(max-width:27rem) and (min-height:32rem) {
   .back-images-container {
     min-height: calc(100vh - 3.125rem);
     flex-direction: column;
     justify-content: space-evenly;
   }

   .back-images-container::before {
     min-height: calc(100vh - 3.125rem);
   }

   .front-images-container {
     height: calc(37.6vw / 0.6666);
     width: 37.6vw;
     min-width: 10rem;
     min-height: 15rem;
   }

   .slide-movie-info {
     height: 45%;
     width: 90%;
   }

   .slide-movie-title {
     /* height: 25%; */
     flex: 1;
     align-items: center;
     font-size: 1.3rem;
   }

   .slide-movie-overview {
     /* height: 70%; */
     flex: 2;
     font-size: 0.7rem;
   }

   .img-btn {
     top: 50%;
     width: 1.6rem;
     height: 1.6rem;
   }

   #img-left {
     right: 105%;
   }

   #img-right {
     left: 105%;
   }

   .trending-movies-header a,
   .trending-series-header a {
     font-size: 1.4rem;
   }

   .trending-movies-header i,
   .trending-series-header i {
     margin-left: 4px;
     font-size: 0.7rem;
   }

   .trending-movies,
   .trending-series {
     height: calc((45.2vw / 0.6666) * 2.1);
   }

   .trending-movies_img,
   .trending-series_img {
     height: calc(45.2vw / 0.6666);
     width: 45.2vw;
     /* min-width: 176px;
    max-width: 176px; */
   }
 }

 @media(max-width:27rem) and (min-height:48rem) {

   .front-images-container {
     height: calc(56.5vw / 0.6666);
     width: 56.5vw;
   }

   .slide-movie-info {
     height: 45%;
     width: 90%;
   }

   .slide-movie-title {
     /* height: 25%; */
     align-items: center;
     font-size: 1.6rem;
   }

   .slide-movie-overview {
     /* height: 70%; */
     font-size: 0.95rem;
   }

   .img-btn {
     width: 2.4rem;
     height: 2.4rem;
   }

   /* .trending-movies-container,
  .trending-series-container {
    height: 115%;
  }

  .trending-movies-header a,
  .trending-series-header a {
    font-size: 1.1rem;
  }

  .trending-movies-header i,
  .trending-series-header i {
    margin-left: 4px;
    font-size: 0.7rem;
  } */

   /* .trending-movies,
  .trending-series {
    flex-direction: column;
  } */


   /* .trending-movies_img,
  .trending-series_img {
    height: 52.6vh;
    width: 47vw;
    min-width: 176px;
    max-width: 176px;
  } */

 }

 /* @media(max-width:20rem) and (min-height:32rem) {
  .slide-movie-title {
    font-size: 1.3rem;
  }

  .slide-movie-overview {
    height: 70%;
    font-size: 0.7rem;
  }

  .trending-movies-container,
  .trending-series-container {
    height: 100%;
  }

  .trending-movies_img,
  .trending-series_img {
    height: 43vh;
    width: 45vw;
    min-width: 144px;
  }
} */