.main {
  margin-top: 5.5rem;
  padding: 2%;
}


.title {
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(90deg, var(--nav-color2), var(--nav-color)); */
}

.title__heading {
  color: transparent;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.8rem;
  text-align: center;
  font-family: var(--rubic-font);
  background: linear-gradient(90deg, var(--nav-color), var(--nav-color2));
  -webkit-background-clip: text;
  animation: L1 1s ease;
}


.results__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.results__image {
  width: 100%;
}

.results__image img {
  width: 95%;
  height: 97%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform ease-out 0.1s, box-shadow ease-out 0.1s;
}

.results__image img:hover {
  box-shadow: 4px 4px 16px var(--shadow-color);
  transform: scale(101%);
}

.results__image img:active {
  box-shadow: none;
  transform: scale(99%);
}

.btn__container {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pages__btn {
  height: 70%;
  width: 7%;
  min-width: 72px;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: var(--rubic-font);
  color: var(--nav-color-contrast);
  background-color: var(--nav-color);
  cursor: pointer;
  transition: transform ease-in-out 0.1s, box-shadow ease-in 0.1s;
}

.pages__btn:hover {
  box-shadow: 2px 2px 4px var(--shadow-color);
  transform: scale(102%);
}

.pages__btn:active {
  box-shadow: none;
  transform: scale(100%);
}

.pages__btn i {
  padding: 0px 4px;
  font-size: 1.2rem;
}

#prev {
  margin-right: 4%;
}

.disable-btn {
  color: var(--nav-color);
  background-color: var(--nav-color-contrast);
  border: 2px solid var(--nav-color);
  cursor: not-allowed;
}

.disable-btn:hover {
  box-shadow: none;
  transform: none;
}



/* Media Queries */

/* 768px */
@media(max-width:48rem) {
  .results__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width:40rem) {
  .results__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width:27rem) {
  .results__container {
    grid-template-columns: 1fr 1fr;
  }

  .title__heading {
    font-size: 2rem;
  }
}