@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --nav-color: #4E1D77;
  --nav-color2: #D395F2;
  --nav-color-contrast: #F8ECFB;
  --footer-color: #020117;
  --body-color: #F8ECFB;
  --shadow-color: #3A373B;
  --ubuntu-font: 'Ubuntu',
    sans-serif;
  /* --body-color: #B872AF;
  --shadow-color: #510789; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.main-nav {
  position: fixed;
  top: 0;
  z-index: 10;
  /* background-color: var(--nav-color); */
  background: linear-gradient(90deg, var(--nav-color), var(--nav-color2));
  padding: 0rem 1rem;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav h1 {
  color: var(--nav-color-contrast);
}

.main-nav a {
  text-decoration: none;
  color: var(--nav-color-contrast);
}

.main-search_box {
  height: 65%;
  width: 25%;
  min-width: 240px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color-contrast);
  /* border: 1.5px solid var(--shadow-color); */
  border-radius: 0.4rem;
}

#search {
  background-color: var(--nav-color-contrast);
  padding: 1rem;
  height: 100%;
  width: 90%;
  font-size: 0.95rem;
  border: none;
  border-radius: 6px;
}

#search:focus,
#search:active {
  border-radius: inherit;
  outline: none;
}

#search-btn {
  background-color: var(--nav-color-contrast);
  height: 100%;
  padding: 0.4rem;
  border: none;
  /* border-width: 1px; */
  /* border-color: var(--shadow-color); */
  border-radius: inherit;
  cursor: pointer;
}

#search-btn:hover {
  transform: scale(100%);
}

#search-btn:active {
  transform: scale(90%);
}

.main-footer {
  height: 15%;
  width: 100%;
  background-color: var(--footer-color);
}

@media(max-width:48rem) {
  .main-nav {
    padding-left: 0rem 0.6rem;

  }

  .main-nav h1 {
    font-size: 1.8rem;
  }

  .main-search_box {
    height: 60%;
    min-width: 256px;
  }

  #search {
    padding: 0.5rem;
    font-size: 1rem;
  }

  #search-btn {
    padding: 0.4rem;
  }

  #search-btn img {
    height: 100%;
  }
}

@media(max-width:27rem) {
  .main-nav {
    padding-left: 0.6rem;
    padding-right: 0.4rem;
  }

  .main-nav h1 {
    font-size: 1.4rem;
  }

  .main-search_box {
    height: 60%;
    min-width: 192px;
  }

  #search {
    padding: 0.3rem;
    font-size: 0.8rem;
  }

  #search-btn {
    padding: 0.3rem 0.1rem;
  }

  #search-btn img {
    height: 100%;
  }
}

@media(max-width:20rem) {
  .main-search_box {
    min-width: 160px;
  }
}