@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;800&display=swap');

@keyframes L1 {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-color: #4E1D77;
  --nav-color2: #D395F2;
  --nav-color-contrast: #F8ECFB;
  --footer-color: #020117;
  --body-color: #F8ECFB;
  --shadow-color: #3A373B;
  --ubuntu-font: 'Ubuntu',
    sans-serif;
  --rubic-font: 'Rubik',
    sans-serif;
  /* --body-color: #B872AF;
  --shadow-color: #510789; */
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--nav-color), var(--nav-color2));
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 10;
  /* background-color: var(--nav-color); */
  background: linear-gradient(90deg, var(--nav-color), var(--nav-color2));
  padding: 0rem 2%;
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__icon {
  height: 80%;
  padding-right: 1%;
}

.nav__title {
  font-size: 2.4rem;
  color: var(--nav-color-contrast);
}

.nav__link {
  text-decoration: none;
  color: var(--nav-color-contrast);
}

.searchBox {
  height: 65%;
  width: 25rem;
  margin-left: 1rem;
  /* min-width: 25rem; */
  display: flex;
  align-items: center;
  background-color: var(--nav-color-contrast);
  /* border: 1.5px solid var(--shadow-color); */
  border-radius: 0.6rem;
  overflow: hidden;
}

.searchBox__input {
  background-color: var(--nav-color-contrast);
  padding: 1rem 0rem 1rem 1rem;
  height: 100%;
  width: 90%;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.6rem;
}

.searchBox__input:focus,
.searchBox__input:active {
  border-radius: inherit;
  outline: none;
}

.searchBox__btn {
  background-color: var(--nav-color-contrast);
  height: 100%;
  padding: 0.7rem;
  border: none;
  /* border-width: 1px; */
  /* border-color: var(--shadow-color); */
  border-radius: inherit;
  cursor: pointer;
}

.searchBox__img:hover {
  transform: scale(105%);
}

.searchBox__img:active {
  transform: scale(90%);
}

.main {
  position: relative;
  margin-top: 5.5rem;
  min-height: calc(100svh - 15.5rem);
  padding: 2%;
  overflow: hidden;
}

.footer {
  height: 10rem;
  width: 100%;
  background-color: var(--footer-color);
}


/* Media Queries */


@media(max-width:48rem) {}

@media(max-width:27rem) {
  .nav {
    padding: 0rem 0.8rem;
  }

  .searchBox__input {
    font-size: 1.4rem;
  }

}

@media(max-width:20rem) {}